# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# macOS
.DS_Store

# VS Code
.vscode/

# uv
uv.lock

# Misc
*.log
*.sqlite3

# Others
*.bak
*.tmp
